// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = motion_exporter_example

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = dev.kicknext.motion-exporter-example

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 KickNext. All rights reserved.
